* {
    font-family: Helvetica, Arial, sans-serif;
    color: aliceblue;
  }

@font-face {
    font-family: comicSans;
    src: url('../fonts/Ldfcomicsans-jj7l.ttf');
}
  
body {
    background-color: black;
}
  
  h1 {
    font-family: comicSans;
    color: khaki;
    font-size: 100px;
    font-size: 14vw;
    font-weight: bold;
    background-image: url('../images/pattern.png');
    text-align: center;
    /* height: 200px; */
    max-height: 800px;
    width: 100%;
    /* max-width: 800px; */
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
  }
  
  h2 {
    font-family: Helvetica;
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  
  h3 {
    font-family: Helvetica;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  p, 
  li {
    font-family: comicSans;
    font-size: 16px;
  }
  
  
  a {
    font-size: 3vw;
    color: aliceblue;
    font-family: comicSans;
    text-decoration: none;
    text-align: center;
    padding: 10px; 
    margin: 0;
    right: 0px;
    border: 2px solid rgb(45, 73, 87);
    border-radius: 10%;
  }

  footer {
    font-size: 10px;
    background-color: darkslategray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .brushes {
    background-color: mediumspringgreen;
  }

  .frames {
    background-color: lightcoral;
  }

  .paint {
    background-color: skyblue;
  }


.menubar {
    background-color: rgb(34, 34, 34);
    padding: 10px;
    margin: 0;
    text-align: center;
    
  }
  
.buttonlinkgrid {
    text-transform: uppercase;
    font-size: 16px;
    flex-shrink: 0;
    padding: 0 25px;
}

.buttongridcontainer {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    padding: 50px 0;
    margin-bottom: 150px;
    max-height: 250px;
  }

  .buttongridcontainer::before,
  .buttongridcontainer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 2;
    pointer-events: none;
  }

  .buttongridcontainer::before {
    left: 0;
    background: linear-gradient(to right, black, transparent);
  }

  .buttongridcontainer::after {
    right: 0;
    background: linear-gradient(to left, black, transparent);
  }

  .scrolling-wrapper {
    display: flex;
    animation: scroll 30s linear infinite;
    width: max-content;
  }

  .scrolling-wrapper:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }

.underbuttontext {
  text-transform: uppercase;
  font-size: 16px;
  
}
.buttonimage
{
  transition: all 0.2s;
  height: 150px;
}
.buttonimage:hover {
  cursor: pointer;
  transition: all 0.2s;
  filter: saturate(200%);
  height: 160px;
  font-size: 46px;
  }